/*********** reset ***********/
*{
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
ul {
    list-style: none;
}


/******** general ********/
@font-face {
    font-family: 'Red Hat Display';
    src: url(./fonts/RedHatDisplay-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Red Hat Display';
    src: url(./fonts/RedHatDisplay-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Red Hat Display';
    src: url(./fonts/RedHatDisplay-Black.ttf);
    font-weight: 900;
}
:root{
 --Pale-blue: hsl(225, 100%, 94%);
 --Bright-blue: hsl(245, 75%, 52%); 
 --Very-pale-blue: hsl(225, 100%, 98%);
 --Desaturated-blue: hsl(224, 23%, 55%);
 --Dark-blue: hsl(223, 47%, 23%);
} 
body{
    background: url(./images/pattern-background-mobile.svg);
    font-family: 'Red Hat Display';
    font-size: 16px;
    text-align: center;
}
h1{
    color: var(--Dark-blue);
    font-size: 20px;
    font-family: 'Red Hat Display';
    font-weight: 900;
}

/************ main ********/
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: var(--Very-pale-blue);
    width: 90%;
    height: 70%;
    border-radius: 0.999em;
    margin-bottom: -18em;
    margin-top: -14em;
}
.box img{
    border-top-left-radius: 0.999em;
    border-top-right-radius: 0.999em;
}
.box p{
   color: var(--Desaturated-blue);
   font-weight: 500;
   margin-bottom: 1em;
}
ul{
    width: 90%;
    height: 10%;
    background-color: var(--Pale-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
    border-radius: 0.800em;
    padding-top: 1.3em;
    margin-bottom: 1.5em;

}
ul li{
    width: 70%;
    display: inline-block;
    padding-right: 0.7em;
}
li img{
    width: 60%;
    height: 60%;
    padding-top: 1em;
    margin-left: -1em;
}
li p:first-child{
    color: var(--Dark-blue);
    margin-bottom: 0.1em;
    font-family: 'Red Hat Display';
    font-weight: 700;
    margin-left: -3em;
    padding-top: 0.5em;
}
li p:nth-child(2){
    margin-left: -3em;
}
li a{
    text-decoration: underline;
    font-weight: 700;
}
.btn-box{
    width: 90%;
    height: 8%;
    background-color: var(--Bright-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 0.700em;
}
.btn-box p{
    color: var(--Very-pale-blue);
    padding-top: 1em;
    border-bottom-color: var(--Desaturated-blue);
}
section p:nth-of-type(3){
   color: var(--Desaturated-blue);
   font-weight: 700;
}
@media screen and(min-width: 1400px) {
    .box{
        height: 40%;
        width: 80%
    }
    li img{
        width: 10%;
        height: 5%;
    }
}